<style rel="stylesheet">
  table, tr, td, th{
    font-size:17px;
    text-align: center;
  }
  th{
    background-color: orange;
    height: 10px;
  }
  tr{
    background-color: bisque;
    width: 100px;
    height: 50px;
  }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Carrinho de compras</title>
</head>
<body>

<h2>Carrinho de compras</h2>
<table>
  <thead>
  <tr>
    <th height="15px" width="300px">Restaurante</th>
    <th height="15px" width="200px">Item</th>
    <th height="15px" width="75px">Preço</th>
    <th height="15px" width="120px">Quantidade</th>
    <th height="15px" width="100px">Aumentar</th>
    <th height="15px" width="100px">Diminuir</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item : ${sessionCarrinho}">
    <td th:text="${item.nome}"></td>
    <td th:text="${item.nome}"></td>
    <td th:text="${item.preco}"></td>
    <td th:text="${item.quantidadeCarrinho}"></td>
    <td><a th:href="@{/adicionarCarrinho/{id}(id=${item.id})}"> + </a></td>
    <td><a th:href="@{/desincrementar/{id}(id=${item.id})}"> - </a></td>
    <td width="200px" bgcolor="white"><a th:href="@{/carrinho/remover/{id}(id=${item.id})}">remover do carrinho</a></td>
  </tr>
  </tbody>
</table>
<p> Preço total: <var th:text="${valorTotal}"></var> </p>
<p><a th:href="@{/index}" >Voltar para Restaurantes</a></p>

</body>
</html>